<div class="row">
    <div class="col-md-12">
        <div class="card" style="margin-top:0px">
            <div class="card-body">
                <div id='loadingListadoProducto' class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                </div>
                <div class="material-datatables">
                    <button class="btn btn-success btn-sm" id="btnActualizarListado" style="float:right" (click)="Actualizar()" disabled>
                        Actualizar
                    </button>

                    <div style="clear:both"></div>
                    <mat-form-field>
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                    </mat-form-field>
                    <mat-table #table [dataSource]="dataSource">

                        <!-- Position Column -->
                        <ng-container matColumnDef="accion">
                            <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center">
                                <a class="zoom" data-toggle="modal" data-target="#myModal" (click)="editar(element[0])">
                                    <i class="material-icons">edit</i>
                                </a>
                                <a class="zoom" (click)="eliminar(element[0])">
                                    <i class="material-icons">close</i>
                                </a>
                            </mat-cell>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="idarticulo">
                            <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center"> {{element[0]}} </mat-cell>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="idcategoria">
                            <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center"> {{element[1]}} </mat-cell>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="nombre">
                            <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center"> {{element[2]}} </mat-cell>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="stock">
                            <mat-header-cell *matHeaderCellDef> Stock </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center"> {{element[3]}} </mat-cell>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="descripcion">
                            <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center"> {{element[4]}} </mat-cell>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="imagen">
                            <mat-header-cell *matHeaderCellDef> Imagen </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center">
                                <a target="_blank" href="{{ imgPath + element[5] }}"><img style="width:50px;height:50px" src="{{ imgPath + element[5] }}"></a>
                            </mat-cell>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="precio">
                            <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center"> {{element[7]}} </mat-cell>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="condicion">
                            <mat-header-cell *matHeaderCellDef> Condicion </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center"> {{element[6]}} </mat-cell>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="talle">
                            <mat-header-cell *matHeaderCellDef> Talle </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center"> {{element[8]}} </mat-cell>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="link">
                            <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="text-center"> {{element[9]}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Classic Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edicion</h4>
                <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <i class="material-icons">clear</i>
                                              </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="registerEdit">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(registerEdit, 'nombreEdit')">
                                    <input type="text" value=" {{ nombre }}" matInput placeholder="Nombre" formControlName="nombreEdit">
                                    <app-field-error-display [displayError]="isFieldValid(registerEdit, 'nombreEdit')" errorMsg="Ingrese un nombre!!!">
                                    </app-field-error-display>
                                </mat-form-field>

                                <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(registerEdit, 'cantidadEdit')">
                                    <input type="text" value=" {{ cantidad }}" matInput placeholder="CantidadEdit" formControlName="cantidadEdit">
                                    <app-field-error-display [displayError]="isFieldValid(registerEdit, 'cantidadEdit')" errorMsg="Ingrese una cantidad!!!">
                                    </app-field-error-display>
                                </mat-form-field>

                                <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(registerEdit, 'descripcionEdit')">
                                    <input type="text" value=" {{ descripcion }}" matInput placeholder="Descripcion" formControlName="descripcionEdit">
                                    <app-field-error-display [displayError]="isFieldValid(registerEdit, 'descripcionEdit')" errorMsg="Ingrese un descripcion!!!">
                                    </app-field-error-display>
                                </mat-form-field>


                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(registerEdit, 'precioEdit')">
                                    <input type="text" value=" {{ precio }}" matInput placeholder="Precio" formControlName="precioEdit">
                                    <app-field-error-display [displayError]="isFieldValid(registerEdit, 'precioEdit')" errorMsg="Ingrese un precio!!!">
                                    </app-field-error-display>
                                </mat-form-field>

                                <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(registerEdit, 'talleEdit')">
                                    <input type="text" value=" {{ talle }}" matInput placeholder="Talle" formControlName="talleEdit">
                                    <app-field-error-display [displayError]="isFieldValid(registerEdit, 'talleEdit')" errorMsg="Ingrese un talle!!!">
                                    </app-field-error-display>
                                </mat-form-field>

                                <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(registerEdit, 'linkEdit')">
                                    <input type="text" value=" {{ link }}" matInput placeholder="Link" formControlName="linkEdit">
                                    <app-field-error-display [displayError]="isFieldValid(registerEdit, 'linkEdit')" errorMsg="Ingrese un link!!!">
                                    </app-field-error-display>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <input value="Registrar" mat-raised-button type="submit" class="btn btn-success" (click)="onUpdate()" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button mat-raised-button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->