<div class="main-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons"></i>
                  </div>
                  <h4 class="card-title">Listado de clientes</h4>
                </div>
                  <div class="card-body">
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      
                      <div class="material-datatables">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                          </mat-form-field>
                          <mat-table #table [dataSource]="dataSource" matSort>
                        
                            <!-- Position Column -->
                            <ng-container matColumnDef="idpersona">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                              <mat-cell *matCellDef="let element" class="text-center"> {{element[0]}} </mat-cell>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="tipo_persona">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </mat-header-cell>
                              <mat-cell *matCellDef="let element" class="text-center"> {{element[1]}} </mat-cell>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="nombre">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                              <mat-cell *matCellDef="let element" class="text-center"> {{element[2]}} </mat-cell>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="tipo_documento">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Documento </mat-header-cell>
                              <mat-cell *matCellDef="let element" class="text-center"> {{element[3]}} </mat-cell>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="num_documento">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Num Documento </mat-header-cell>
                              <mat-cell *matCellDef="let element" class="text-center"> {{element[4]}} </mat-cell>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="direccion">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </mat-header-cell>
                              <mat-cell *matCellDef="let element" class="text-center"> {{element[5]}} </mat-cell>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="telefono">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>
                              <mat-cell *matCellDef="let element" class="text-center"> {{element[6]}} </mat-cell>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="email">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                              <mat-cell *matCellDef="let element" class="text-center"> {{element[7]}} </mat-cell>
                            </ng-container>       

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                          </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>