<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <form [formGroup]="type" class="form-horizontal">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-text">
                        <h4 class="card-title">Seguimiento</h4>
                      </div>
                    </div>
                      <div class="card-body">
                          <div class="row">
                            <label class="col-sm-1 col-form-label">VIN</label>
                              <div class="col-sm-7">
                                <mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}" [ngClass]="displayFieldCss(type, 'text')">
                                  <input type="text"
                                  matInput
                                  id="text"
                                  (ngModelChange)="textValidationType($event)"
                                  formControlName="text">
                                  <app-field-error-display [displayError]="isFieldValid(type, 'text')" errorMsg="Requiere VIN">
                                  </app-field-error-display>
                                </mat-form-field>
                              </div>
                              <label class="col-sm-2 label-on-right">
                                  <code>requerido</code>
                              </label>
                              <div class="col-sm-2">
                                <div class="card-footer text-center">
                                  <button mat-raised-button type="submit" class="btn btn-success btn-fill" id="btnbuscar" (click)="onType()">Buscar</button>
                                </div>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-success card-header-icon">
                    <div class="card-text">
                        <h4 class="card-title">Linea de tiempo</h4>
                        <p class="category">{{ chasis }}</p>
                    </div>
                  </div>
                  <div class="card-body">
                    <ul class='htimeline'>
                        <li *ngFor="let dato of datos" class='step col-sm-2 blue'>
                          <div>{{ dato.Evento }}</div>
                          <div class='tasks container-fluid'>
                            <div class='resource'>
                              <div class='task col-sm-6'> {{ dato.Fecha | date:'dd-MM-yyyy H:mm'}}</div>
                            </div>
                          </div>
                        </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-map">
                  <div class="card-content">
                      <div id="satelliteMap"></div>
                  </div>
              </div>
          </div>
  </div>
</div>
